<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization" />
        <add assembly="CRM" />
        <add assembly="CUS.OdbcConnectionClass3" />
        <add assembly="ERP" />
        <add assembly="Jenzabar.Common" />
        <add assembly="Jenzabar.ICS" />
        <add assembly="Jenzabar.Portal.Framework" />
        <add assembly="Jenzabar.Portal.Framework.Web" />
        <add assembly="Jenzabar.Portal.Framework.Web.Modules" />
        <add assembly="Jenzabar.Portal.Web" />
        <add assembly="Portlet.CheckInStudent" />
        <add assembly="System.Web.UI.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
